:root {
    --color-head: #000;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headline {
    font-family: 'Work Sans';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: var(--color-head);
    margin-bottom: 5px;
}

.recepi-headline{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-head);
}

.side-off {
    left: -500px;
    transition: left 0.3s ease;
}

.side-on {
    left: 0;
    transition: left 0.3s ease;
}

.height-60{
    height: 60%;
}

.heart path {
    transition: fill 0.4s ease-in-out;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Zwei gleich große Spalten */
    gap: 10px;
    margin-bottom: 10px;
    /*justify-content: center;
    grid-column: 1 / 3;
    background: #19cc6a;
    max-width: 50%;
    height: auto;*/
}

.box {
    padding: 10px;
    background-color: lightgreen;
    text-align: center;

}

