.contentEdit {
    border: 1px solid black;
}

/* Hero Slider */
.hero-container {
    width: 100%;
    height: 80vh;
    position: relative;
}

.hero-background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
}

.hero-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 22;
}

.hero-text-container {
    position: absolute;
    z-index: 23;
    max-width: 800px;
    bottom: 30px;
    color: white;
}

.hero-headline {
    font-size: 45px;
    font-family: 'Work-SaNS';
    line-height: 100px;
}

.hero-description {
    font-size: 20px;
    font-family: 'Roboto';
}

.hero-recepi-info {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 20px;
    font-family: 'Roboto';
}


@media only screen and (max-width: 756px) {
    .hero-text-container {
        position: absolute;
        z-index: 23;
        max-width: 800px;
        bottom: 30px;
        color: white;
    }
}

/* Filtrer */
.filter-container {
    position: relative;
}

.filter-button {
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    background-color: black;
    cursor: pointer;
}

.filter-inner {
    color: white;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    height: 100%;
}

.filtermenue-container {
    position: absolute;
    z-index: 30;
    width: 300px;
    height: auto;
    top: 50px;
    left: -50%;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Slider */
.slider {
    max-width: 1449px;
    overflow: hidden;
    overflow-x: scroll;
}

/* Rezepte Container */
.recipe-conainer {
    display: flex;
    justify-content: center;
    place-items: center;
    width: auto;
}

.recipe-conainer-inner {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
}

@media only screen and (max-width: 1271px) {
    .recipe-conainer-inner {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px;
    }
}

@media only screen and (max-width: 955px) {
    .recipe-conainer-inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 32px;
    }
}

@media only screen and (max-width: 655px) {
    .recipe-conainer-inner {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 32px;
    }
}

/* recipe Details */
.rd-img-container {
    margin-top: -20px;
    width: 100%;
    height: 60vh;
}

.rd-img-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-headline {
    font-size: 45px;
    font-family: 'Work-SaNS';
    line-height: 100px;
}

.recipe-description {
    font-size: 18px;
    font-family: 'Roboto';
}

.recipe-subheadline {
    font-size: 35px;
    font-family: 'Work-SaNS';
    line-height: 70px;
}

.recipe-ingrediantlist {
    display: flex;
    width: 100%;
}

.ingrediants {
    width: 80%;
}

.quantitys {
    text-align: right;
    width: 20%;
}

.ingredient-steps {
    line-height: 40px;
    border-bottom: 1px solid black;
}

.steps-container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.steps {
    font-size: 22px;
    font-family: 'Roboto';
    line-height: 30px;
}

/*cssKacheln*/
.heart {
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}

.heart:hover {
    fill: #ff0000;
}

.recipe-li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
}

.recipe-li:last-child {
    border-bottom: none;
}

.recipe-li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.recipe-li.delete {
    color: red;
}

.recipe-li.delete:hover {
    color: darkred;
    background-color: #f0f0f0;
}

/* MyChefHero */
.MC-Container {
    width: 100vw;
    height: 80vh;
    background: white;
}

.MC-flex {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    height: 80vh;
}

.MC-left-side {
    width: 50%;
    height: 100%;
}

.MC-reight-side {
    width: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    height: 100%;
}

.MC-img-container {
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 655px) {
    .MC-Container {
        width: 100vw;
        height: 100%;
        background: white;
    }

    .MC-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .MC-left-side {
        width: 100%;
        height: 100%;
    }

    .MC-reight-side {
        width: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
        align-items: center;
        height: 100%;
    }
}